.recordcountpanel {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
  display: flex;
  border-bottom: 2px solid #3e2b2b;
}
.subpanel {
  background-color: #fdd9d9;
  border-radius: 30px;
  height: 100%;
}
.subpanelheader {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: large;
  font-weight: bolder;
  border-bottom: 2px solid #3e2b2b;
}
.subpanelcontent {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-content: space-between;
}
.mainpanel {
  background-color: #fdd9d9;
  border-radius: 30px;
  margin-top: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selection {
  position: absolute;
  width: min-content;
  right: 47px;
  top: 150px;
  z-index: 1;
}
.selection1 {
  position: absolute;
  top: 150px;
  left: 1180px;
  z-index: 1;
  display: inline;
}
