<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>HDFS Input</title>
  </head>
  <body>
    <h1>HDFS Input</h1>
    <form method="post" action="{% url 'hdfs' %}">
      {% csrf_token %}
      <div>
        <label>
          Host:
          <input type="text" name="host" required />
        </label>
      </div>
      <div>
        <label>
          Port:
          <input type="text" name="port" required />
        </label>
      </div>
      <div>
        <label>
          Directory:
          <input type="text" name="directory" required />
        </label>
      </div>
      <div>
        <label for="filetype">File Type</label>
        <select name="filetype" id="filetype">
          <option value="txt">Text/Tsv Files</option>
          <option value="csv">Csv</option>
        </select>
      </div>
      <div>
        <button type="submit">Confirm</button>
      </div>
    </form>
  </body>
</html>
