<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>MinIO Input</title>
  </head>
  <body>
    <h1>MinIO Input</h1>
    <form method="post" action="{% url 'minio' %}">
      {% csrf_token %}
      <div>
        <label>
          Endpoint/URL:
          <input type="text" name="endpoint" required />
        </label>
      </div>
      <div>
        <label>
          Access Key/Username:
          <input type="text" name="accesskey" required />
        </label>
      </div>
      <div>
        <label>
          Secret Key/Password:
          <input type="text" name="secretkey" required />
        </label>
      </div>
      <div>
        <label for="filetype">File Type</label>
        <select name="filetype" id="filetype">
          <option value="txt">Text/Tsv Files</option>
          <option value="csv">Csv</option>
          <option value="xls">Excel</option>
        </select>
      </div>
      <div>
        <label>
          Bucket:
          <input type="text" name="bucket" required />
        </label>
      </div>
      <div>
        <label>
          Path:
          <input type="text" name="path" required />
        </label>
      </div>
      <div>
        <button type="submit">Confirm</button>
        <a href="/home/menu"><button>Main Menu</button></a>
      </div>
    </form>
  </body>
</html>
